body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.start-screen, .main-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    max-height: 100px;
    margin: 10px;
}

.intro-video, .screensaver, .game-display video {
    max-height: 70vh;
}

.game-selector {
    display: flex;
    align-items: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
}
